#contacts {
    background-image: url("../pictures/backgrounds/holtag-hajo.webp");
    background-size: cover;
    background-position: center;
    position: relative;
}

#contacts::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(56, 68, 95, 0.8);
}

#contacts > * {
    position: relative;
}

.info-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.info-container > div {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.info-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 35px;
}

.info-item img {
    width: 100px;
    height: auto;
}

.info-text {
    display: flex;
    flex-direction: column;
}

.info-text span {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
}

.info-text p {
    font-size: 1.2rem;
    margin: 0;
    color: lightgray;
}

.social {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    gap: 5vw;
}

.social > div {
    display: flex;
    flex-direction: column;
}

.facebook-site {
    text-align: center;
    align-items: center;
}

.facebook-site p {
    color: white;
    font-family: "Cormorant Garamond", serif;
    font-size: 2rem;
}

.facebook-site img {
    width: 300px;
    height: auto;
    transition: transform 0.2s ease, opacity 0.2s ease;
}
.facebook-site a:hover img {
    transform: scale(1.1);
    opacity: 0.85;
}

.site-map p, .fish-wardens p {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
}

.site-map ul, .fish-wardens ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.site-map li, .fish-wardens li {
    margin-bottom: 0.5rem;
}

.site-map a, .fish-wardens li {
    color: #eeeeee;
    text-decoration: none;
}

.site-map a:hover {
    text-decoration: underline;
}

.fish-wardens ul ul {
    padding-left: 20px;
}

@media (max-width: 768px) {
    .container-3 {
        grid-template-columns: 1fr;
    }
}
