@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
    font-weight: 100 900;
}

@font-face {
    font-family: "Cormorant Garamond";
    src: url("../fonts/CormorantGaramond-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
}