footer {
    background-color: #38445F;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;   /* vízszintesen középre */
    justify-content: center; /* függőlegesen középre */
    text-align: center;
}

footer p {
    color: #eeeeee;
}