body {
    background-color: #eeeeee;
    color: #2c2c2c;
    margin: 0; /*Kérdéses*/
}

.fishing-list, .fish-list, .price-list {
    list-style: none;
    padding-left: 0;
    max-width: 500px;
    margin: 2rem 0; /*auto*/
}

.fishing-list li, .fish-list li, .price-list li {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    margin-bottom: 1.2rem;
}

.icon {
    width: 40px;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.icon img {
    width: 28px;
    height: 28px;
    margin-right: 12px;
}

#about h2, #fish h2, #prices h2, #gallery h2, #rules h2, #contacts h2, #fishing-methods h2, #lake-lower h2 {
    color: #38445F;
}


