#prices h2 {
    color: #38445F;
    padding-left: 3rem;
}

.price-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding: 2rem;
    padding-right: 3rem;
    padding-left: 5rem;
}

.price-card {
    padding: 1rem;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    transition: transform 0.5s ease;

    min-width: 0;
}

.price-card li {
    display: flex;
    gap: 10px;
}

.price-card h3 {
    color: #38445F;
    text-align: center;
}

.price-card p {
    text-align: center;
}

.price-card ul {
    width: fit-content;
    margin: 1rem auto;
    padding-left: 4rem;
    padding-right: 4rem;
    text-align: left;
    list-style: none;
}

.price-card img {
    width: 20px;
    height: 20px;
    margin-top: 2px;
}

.price {
    font-size: 1.8rem;
    font-weight: bold;
}

.price-card:hover {
    transform: scale(1.05);
}

@media (max-width: 1076px) {
    .price-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem;
    }

    .price-card h3 {
        font-size: 1.3rem;
    }
    .price-card p,
    .price-card li {
        font-size: 0.95rem;
    }
    .price {
        font-size: 1.6rem;
    }
    .price-card ul {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (max-width: 670px) {
    .price-container {
        grid-template-columns: 1fr;
        padding: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
        gap: 2rem;
    }

    .price-card h3 {
        font-size: 1.2rem;
    }
    .price-card p,
    .price-card li {
        font-size: 0.9rem;
    }
    .price {
        font-size: 1.4rem;
    }
    .price-card ul {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .price-card img {
        width: 18px;
        height: 18px;
    }
}
